/*Variables*/
:root {
  --color_2: rgba(255, 175, 1);
  --color_3: rgba(255, 175, 1, 0.4);
  --font-size-navbar: 18px;
  --shadow_box: 0 1px 0 rgb(12 13 14 / 10%), 0 1px 3px rgb(12 13 14 / 10%),
    0 4px 20px rgb(12 13 14 / 4%), 0 1px 1px rgb(12 13 14 / 3%);
}

/*normalizacion de caja*/
* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

/*cart img */

.cart_style {
  display: grid;
  background-color: cadetblue;
  width: 100%;
  height: 86vh;
  grid-template: .5fr repeat(2, 1fr) 0.5fr / .2fr repeat(3, 1fr) .2fr;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 1%;

}

.name_product {
  font-size: 1.3rem;
}

.price_and_cant {
  display: grid;
}

.containt_card____cart {
  width: 100%;
  height: 58%;
  background-color: #666;
  padding: .2%;
  grid-auto-flow: column;
  grid-column: 1/3;
  display: grid;
  grid-template: repeat(2, 0.2fr) / 1fr repeat(3, .5fr);
}

.card____cart {
  width: 100%;
  height: 57%;
}

.img-card____cart {
  width: 80%;
  height: 80%;
}

.content_image_product_at_cart {
  width: 90%;
  height: 90%;
}

/********************************/

.navbar_cart {
  width: 4rem;
}

/*nav bar */
ul {
  height: 100%;
  font-size: var(--font-size-navbar);
}

.nav {
  align-content: center;
}

header {
  width: 100%;
  height: 80px;
  background: var(--color_2);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header,
.content-sale__child {
  box-shadow: var(--shadow_box);
}

/*section main*/
section {
  width: 100%;
  height: 100%;
}

.contentsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 700px;
}

.banner {
  width: 50%;
  height: 700px;
  background-image: url(/img/carrito.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h3 {
  display: block;
}

.form-control {
  width: 100%;
}

.form-init {
  display: flex;
  flex-direction: row;
}

/*---break---*/

.division-cut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 700px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
}

.leyend {
  width: 100%;
  height: 100%;
}

/*--cardLandscape--*/
.content-card {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.leyend,
.img-content {
  width: 50%;
  padding: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

h2 {
  text-align: left;
}

.content-card__reverse {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
}

.img-card {
  width: 100%;
  max-width: 600px;
}

.products-recomended {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 2%;
}

/* cards */
.content-sale {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
  margin: 0 0 0 0;
  justify-items: center;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas: "z z b b";
}

.content-buttons___card {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.content-sale__child {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  font-weight: 300;
  align-items: center;
  justify-content: center;
}

.img-cards-product {
  width: 70%;
  background-color: #666;
}

.content-text {
  padding: 4%;
  background: var(--color_3);
  text-align: center;
}

.content-sale__child__img {
  width: 100%;
  height: 100%;
}

.text-promo-content {
  display: flex;
  flex-direction: row;
}

.salecolor {
  color: red;
}

.btn-card {
  background-color: #666;
}

.btn-card:hover {
  background-color: var(--color_2);
}

/** footer **/

footer {
  width: 100%;
  height: 20vh;
  background: var(--color_2);
  margin: 10% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-text__footer {
  width: 50%;
  height: 30%;
}

.contenticons {
  width: 50%;
  display: flex;
}

.icon {
  width: 35%;
}