* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}




html {
   height: 100%;
}

body {
   min-height: 100%;
   font-family: 'segoe ui';
   width: 100vw;
   overflow: hidden;
}

.header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   gap: 15%;
}

.nav-link>span {
   margin: 0 0 0 6%;
   color: black;
}

.add,
.subtract {
   cursor: pointer;
   text-align: center;
   width: 20%;
   display: flex;
   width: 20%;
   justify-content: center;
   align-items: center;
   height: 84%;

}


.title {
   width: 100%;
   display: grid;
   justify-content: center;
   align-items: center;
}

.section_home_page {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
   grid-template-rows: repeat(15, .2fr);
}


.legend,
.img-content {
   width: 50%;
   padding: 3rem;
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
   min-width: 50%;
}

.content-card {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-content: center;
   grid-column: 1/7;
   grid-row: 2/3;
}

.content-card__reverse {
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-content: center;
   grid-column: 1/7;
   grid-row: 3/4;
}


.content_image {
   width: 40%;
}

ul {
   height: 100%;
   font-size: var(--font-size-navbar);
   display: flex;
   justify-content: space-around;
   list-style: none;
}

.content-sale__child {
   display: grid;
   width: 100%;
   font-weight: 300;
   align-items: center;
   justify-content: center;
   position: relative;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   max-width: 70%;
}


.btn_add_to_cart {
   border: none;
   height: 50%;
   border-radius: 0;
   grid-column: 2/6;
   grid-row: 6/6;
   box-shadow: var(--shadow_box);
   background-color: #000;
   color: #ffffff;

}

.image_style {
   width: 40%;
}

.content_section {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
   width: 100%;
   height: 80vh;
   grid-column: 1/6;
   grid-row: 1/2;
}

.navigation {

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   align-content: center;
}

.content_image_product_at_cart {
   width: 90%;
   grid-column: 2/5;
   grid-row: 1/1;
   display: flex;
   justify-content: center;
   height: 100%;

}

.content_description {
   grid-column: 3/6;
   grid-row: 1/1;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.content_select {
   grid-column: 4/5;
   grid-row: 3/4;
}

.price {
   grid-column: 2/5;
   grid-row: 3/3;
}

.content_card____cart {
   padding: 2%;
   grid-auto-flow: column;
   grid-column: 1/6;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(4, .4fr);
   justify-items: center;
   align-items: center;
   color: black;
}

h1 {
   display: inline-block;
}

.price_and_cant {
   grid-column: 5;
}

.close {
   grid-column: 1/1;
   grid-row: 1/1;
}

.img-card____cart {
   width: 60%;
   height: 80%;
}

/* spinner-style */

.spinner-border {
   display: block;
   position: inherit;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(8px);
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;
}



.loading {
   height: 5rem;
}

/* ----------Lazy load------------------ */


.lazy {
   opacity: 0;
   transition: opacity 0.3s ease-in;
}

.lazy-loaded {
   opacity: 1;
}

/* ---------------------------- */


.cart_style,
.categories_style {
   display: none;
   grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
   gap: 2%;
   grid-template-rows: repeat(2, 1fr);
   width: 100%;
   overflow: scroll;
   height: 65vh;
   background-color: #ffffff;
   padding: 1%;
}

.content-buttons___card {
   width: 72%;
   display: flex;
   justify-content: space-around;
   margin: 2% 0 0 0;
   grid-row: 5/6;
   grid-column: 3/4;

}

.favorite {
   position: absolute;
   grid-column: 6/6;
   grid-row: 1/1;
   width: 4.7rem;
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.content_style {
   background-color: #ffffff;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
   grid-template-rows: repeat(8, .2fr);
   padding: 4%;
}

.style_footer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: 20vh;
}


.content_total {
   grid-column: 3/4;
   grid-row: 2/2;

}


.nav {
   width: 100%;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 71%;
   padding: 2%;
}

.nav-btn {
   width: 33.33%;
}



.list_classification {
   border-bottom: solid #ffff .2rem;
   height: 3rem;
   font-size: var(--font-size-navbar);
   display: flex;
   justify-content: center;
   list-style: none;
   width: 100%;
   overflow: scroll;
   gap: 0%;
   align-items: center;
   padding: 0;
   margin: 0;
}

.nav-header {
   width: 33.33%;
   display: flex;
   justify-content: flex-end;
}

.nav-link {
   display: flex;
   justify-content: flex-end;
}


.nav>.nav-header {
   display: flex;
   width: 12rem;
   justify-content: flex-start;
   height: 60%;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
}

.nav>.nav-header>.nav-title {
   display: inline-block;
   font-size: 1.19rem;
   font-weight: 600;
   letter-spacing: .1rem;
}

.nav>.nav-btn {
   display: none;
}

.nav>.nav-links {
   display: inline;
   float: right;
   font-size: 1.4em;
   padding: .5;
}

.nav>.nav-links>a {
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
}

.nav-links>form {
   padding: 3%;
}

/* Structure individual Product */


.content_title___individual_item {
   grid-column: 2/4;
   grid-row: 2/2;
   text-align: center;
}

.content_price___individual_item {
   grid-column: 3/4;
   grid-row: 3
}

.content_description___individual_item {
   grid-column: 2/4;
   grid-row: 4;
}

.content_image___individual_item {
   grid-column: 1/5;
   grid-row: 1/2;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}




.nav>#nav-check {
   display: none;
}

.title-content {
   grid-row: 1/2;
   grid-column: 1/4;
}

/* cards */
.content-sale,
.categories_style,
.favorites {
   width: 100%;

   display: grid;
   justify-items: center;
   grid-template-rows: 33rem;
   gap: 1rem;
   grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
   padding: 4%;
   background-color: #ffffff;
   grid-row: 2/4;
   justify-content: center;
}

.favorites {
   grid-template-rows: 8rem
}

.img-cards-product {
   width: 80%;
   max-width: 75%;
}

.content_photo {
   width: 100%;
   grid-column: 2/7;
   grid-row: 2/5;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #DBDBDB;
   padding: 10%;
   border-radius: 2%;
   max-width: 80%;
}



.content-text {
   text-align: center;
   grid-row: 5/5;
   grid-column: 2/6;
}

.btn_confirm_buy {
   box-shadow: inset 0px 1px 0px 0px #ffffff;
   background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
   background-color: #f9f9f9;
   border-radius: 6px;
   border: 1px solid #dcdcdc;
   display: inline-block;
   cursor: pointer;
   color: #666666;
   font-family: Arial;
   font-size: 15px;
   font-weight: bold;
   padding: 6px 24px;
   text-decoration: none;
   text-shadow: 0px 1px 0px #ffffff;
}

.btn_confirm_buy:hover {
   background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
   background-color: #e9e9e9;
}

.btn_confirm_buy:active {
   position: relative;
   top: 1px;
}


/********************************/


@media screen and (min-width: 360px) and (max-width: 428px) {
   .list_classification{
      justify-content: flex-start;
      
   }
   .nav>.nav-btn {
      display: inline-block;
      padding: 1%;
   }
   .nav-btn {
      width: 18.33%;
   }

   .nav-link___cart{
      padding: 0;
      width: 19vw;
      height: 11vh;
   }
   .count_elements_at_cart{
      position: absolute;
      top: .85rem;
      right: 0.6rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      text-align: center;
   }
}

/********************************/

@media (max-width:600px) {



   .legend,
   .img-content {
      width: 100%;
      padding: .5rem;
      text-align: center;
   }

   .content-card,
   .content-card__reverse {
      flex-direction: column;
   }

   .nav>.nav-btn>label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
   }

   .nav>.nav-btn>label:hover,
   .nav #nav-check:checked~.nav-btn>label {
      background-color: rgba(0, 0, 0, 0.3);
   }

   .nav>.nav-btn>label>span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid;
   }

   .nav>.nav-links {
      position: absolute;
      display: block;
      width: 100%;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 89%;
      left: -1.1;
   }

   .nav>.nav-links>a {
      display: block;
      width: 100%;
   }

   .nav>#nav-check:not(:checked)~.nav-links {
      height: 0px;
   }

   .nav>#nav-check:checked~.nav-links {
      height: calc(50vh - 50px);
      overflow-y: auto;
   }


   .content-card {

      grid-column: 1/4;
      grid-row: 2/3;
   }

   .content-card__reverse {

      grid-column: 1/4;
      grid-row: 3/4;
   }

   .content_section {
      grid-column: 1/6;
      grid-row: 8/8;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 15ch), 1fr));
      grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr;
      gap: 3rem;
   }
}





@media (min-width: 375px) and (max-width: 600px) {

   * {
      font-size: 1.1rem;
   }

   input[type="number"]::-webkit-inner-spin-button,
   .form-control::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
   }

   .form-control {
      width: 60%;
   }

   .nav {
      height: 71%;
      padding: 1%;
   }

   .header {
      height: 30vh;
   }


   .d-flex {
      order: 2;
      justify-content: center;
      width: 100%;
   }

   .content-sale__child {
      max-width: 70%;
   }

   .content_description___individual_item {
      grid-column: 1/5;
      grid-row: 4/4;
      text-align: center;
   }

   .content_image___individual_item {
      grid-column: 1/5;
      grid-row: 1/2;
      width: 100%;
      text-align: center;
   }

   .ui_Cart {
      padding: 1%;
      grid-column: 1/6;
      grid-row: 2/2;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
      row-gap: 2%;
   }

   .content_total {
      grid-column: 1/6;
      grid-row: 1/2;
      padding: 2%;
      box-shadow: var(--shadow_box);
      height: 100%;
   }

   .content_image_product_at_cart {
      grid-column: 1/3;
      grid-row: 1/6;
      display: flex;
      justify-content: flex-start;
   }

   .content_card____cart {
      align-items: none;
   }

   .img-card____cart {
      width: 90%;
   }



   .content_description {
      grid-column: 3/6;
      grid-row: 1/1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   }

   .content_description {
      grid-column: 3/6;
      grid-row: 1/1;
      height: 100%;
      display: flex;
      flex-direction: column;
   }

   .content_card____cart {
      padding: 1%;
      grid-auto-flow: column;
      grid-column: 1/6;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(8, 1fr);
      justify-items: flex-start;
      align-items: flex-start;
      color: black;
   }


   .content_select {
      grid-column: 3/6;
      grid-row: 6/4;
   }

   .content_select {
      grid-column: 3/6;
      grid-row: 7/5;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 12% 0 6%;
      height: 70%;
   }

   .price {
      grid-column: 3/5;
      grid-row: 2/2;
   }

   /* Individual Product */

   .style_content_card_individual_product {
      width: 100%;
      display: none;
      grid-template-columns: .5fr 1fr 1fr .5fr;
      gap: 2%;
      padding: 4%;
      grid-template-rows: repeat(7, .25fr);

   }

   .content_title___individual_item {
      grid-column: 1/5;
      grid-row: 2/2;
      text-align: center;
   }

   .content-button-favorite {
      grid-column: 4/4;
      grid-row: 1/1;
      height: 25%;
   }



   .content_price___individual_item {
      grid-column: 2/4;
      grid-row: 3/3;
      text-align: center;
   }

   .content-buttons___individual_item {
      grid-row: 5/5;
      grid-column: 2/4;
      text-align: center;
   }

   .content-buttons___card>.button {
      width: 40%;
      height: 60%;

   }

   /* -----structure-modal ------*/

   .carousel-edited {
      height: 79%;
      background-color: #DBDBDB;
   }

   .carousel-indicators {
      margin-bottom: 13rem;
   }

   .carousel-control-prev,
   .carousel-control-next {
      height: 60%;
   }

   .carousel {
      grid-row: 1/8;
      grid-column: 1/4;
   }

}


@media (min-width: 601px) and (max-width: 1087px) {
   .content-sale__child {
      max-width: 40%;
      min-width: 100%;
   }

   .style_content_card_individual_product {
      grid-template-columns: .5fr 1fr 1fr .5fr;
      gap: 2%;
      padding: 4%;
      grid-template-rows: repeat(7, .25fr);

   }

   .content-button-favorite {
      grid-row: 1/1;
      grid-column: 4/4;
      height: 20vh;
      display: flex;
      justify-content: center
   }

   .content_price___individual_item {
      grid-row: 4/4;
      grid-column: 4/2;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .content-buttons___individual_item {
      align-content: center;
      grid-row: 5/5;
      justify-items: center;
      grid-column: 2/4;
      justify-content: center;
      align-items: center;
      align-items: center;
      align-items: center;
      display: grid;
      height: 10vh;
   }


   .content_description___individual_item {

      grid-column: 1/5;
      grid-row: 3/4;
   }



   .content-sale,
   .categories_style {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      gap: 3rem;
      grid-auto-rows: 30rem;
   }


}

@media (max-width:1184px) {
   .favorite {
      grid-column: 5/6;
   }
}

@media (min-width: 1455px) {
   .content_section {
      grid-column: 2/6;
   }
}