/*Variables*/
:root {
  --color_2: rgba(255, 175, 1);
  --color_3: rgba(255, 175, 1, 0.4);
  --font-size-navbar: 18px;
  --shadow_box: 0 1px 0 rgb(12 13 14 / 10%), 0 1px 3px rgb(12 13 14 / 10%),
    0 4px 20px rgb(12 13 14 / 4%), 0 1px 1px rgb(12 13 14 / 3%);
}

/* header style */
.header {
  background-color: var(--color_2);
  box-shadow: var(--shadow_box);
}

.nav>.nav-links>a:hover {
  background-color: rgba(232, 219, 219, 0.3);
  color: black;
}


/*cart img */

a{
  text-decoration: none;
}



.categories_style {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: none;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
  margin: 0 0 0 0;
  justify-items: center;
  grid-auto-rows: 28rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.name_product {
  font-size: 1.3rem;
}

.price_and_cant {
  display: grid;
}

.total{
  text-align: center;
}

.containt_card____cart{
  box-shadow: var(--shadow_box);
  background-color: whitesmoke
}





/********************************/

.navbar_cart {
  width: 3.2rem;
}

/*nav bar */
ul {
  height: 100%;
  font-size: var(--font-size-navbar);
}

.nav {
  align-content: center;
}

.header,
.navbar {
  background: var(--color_2) !important;

}

.header,
.content-sale__child {
  box-shadow: var(--shadow_box);
}

.banner {
  width: 50%;
  height: 700px;
  background-image: url(/img/carrito.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

h1,
h3 {
  display: block;
}

.form-control {
  width: 100%;
}

.form-init {
  display: flex;
  flex-direction: row;
}

/*---break---*/

.division-cut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 700px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
}

.leyend {
  width: 100%;
  height: 100%;
}

/*--cardLandscape--*/




h2 {
  text-align: left;
}

.content-card__reverse {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
}

.img-card {
  width: 100%;
  max-width: 600px;
}

.products-recomended {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 2%;
}

/* cards */
.content-sale {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
  margin: 0 0 0 0;
  justify-items: center;
  grid-auto-rows: 28rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}





.img-cards-product {
  width: 50%;
}

.content-text {
  padding: 4%;
  text-align: center;
}

.content-sale__child__img {
  width: 100%;
  height: 100%;
}

.text-promo-content {
  display: flex;
  flex-direction: row;
}

.salecolor {
  color: red;
}

.btn-card {
  background-color: #666;
}

.btn-card:hover {
  background-color: var(--color_2);
}





/** footer **/

.style_footer {
  background: var(--color_2);
  padding: .5%;
}

.content-text__footer {
  width: 50%;
  height: 30%;
}

.content_icons {
  width: 27%;
  display: flex;
}

.icon {
  width: 35%;
}

@media (max-width:600px) {
  .nav>.nav-links {
    background-color: var(--color_2);
  }
}